.swiper-next {
    border-radius: 12px;
    background-color: white;
    height: 32px;
    width: 32px;
}

.swiper-prev {
    border-radius: 12px;
    background-color: white;
    height: 32px;
    width: 32px;
}

@media(min-width:640px) {
    .swiper-next {
        height: 40px;
        width: 40px;
        font-size: 16px;
    }

    .swiper-prev {
        height: 40px;
        width: 40px;
    }

}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFFB2;
}

.swiper-pagination-bullet-active {
    @apply bg-white;
    width: 27px;
    border-radius: 50px;
}

.thumb-next {
    border-radius: 12px;
    height: 32px;
    width: 32px;
}

.thumb-prev {
    border-radius: 12px;
    height: 32px;
    width: 32px;
}

@media(min-width:640px) {
    .thumb-next {
        height: 40px;
        width: 40px;
    }

    .thumb-prev {
        height: 40px;
        width: 40px;
    }

}


  
