  
  .small-date-range .rdrCalendarWrapper {
    /* transform: scale(0.9);  */
    width: 300px;
    transform-origin: top left;
  }
  

  
  .small-date-range .rdrMonth {
    width: 100% !important; /* Make months fit */
  }
  